@model IEnumerable<App.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create" style="color:white">Crear nuevo</a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                
            <td>
                @Html.DisplayFor(modelItem => item.idCurso)
            </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.nombreCurso)
                </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idCurso">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idCurso">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
