@model App.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que quiere eliminar este Usuario?</h3>
<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edadUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edadUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.nombreCurso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idUsuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
