@model IEnumerable<App.Models.Usuario>

@{
    ViewData["Title"] = "Usuario - Listado";
}

<h1>Listado de Usuarios</h1>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create" style="color:white">Crear nuevo</a>
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edadUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.emailUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edadUsuario)
                </td>
                         <td>
                    @Html.DisplayFor(modelItem => item.Curso.nombreCurso)
                    </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.idUsuario">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idUsuario">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idUsuario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
